<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">

      <div class="questions">
        <% @questions.each do |question| %>
        <div class="question clearfix">
          <div class="question-details">
            <span class="question-title"><%= link_to question.title, question %></span> <br>
            <span class="question-title"><%= markdown(truncate(question.description, :length => 250)) %> </span>
          </div> <br> <br> <br> <br> <br> <br> <br> <br> <br>
          <% if signed_in? %>  
            <div class="actions">
              <%= link_to "<span class='material-icons'>edit</span>".html_safe, edit_question_path(question) %>
              <%= link_to "<span class='material-icons'>delete</span>".html_safe, @question, method: :delete, data: { confirm: "¿Estás seguro de eliminar este Post?" } %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


